* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-primary-500: hsl(158, 42%, 18%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* General Styling */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);
  height: 100vh;

  /* for this project only */
  display: grid;
  place-content: center;
  margin: 1rem;
}

/* utilities */
.product {
  display: grid;
  background-color: var(--clr-neutral-100);
  border-radius: 0.625rem;
  overflow: hidden;
  /* max-width: 645px; */
  max-width: 600px;
}

@media (min-width: 645px) {
  .product {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
  }

  .product__content {
    width: 300px;
    padding: 32px;
    display: grid;
  }

  .product__category {
    margin-bottom: 20px;
  }

  .product__title {
    margin-bottom: 24px;
  }

  .product__content p {
    margin-bottom: 29px;
  }

  .price {
    margin-bottom: 30px;
  }
}

/* product content */
.product__content {
  padding: 1.5rem;
  display: grid;
}

.product__category {
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.product__title {
  color: var(--clr-neutral-900);
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.product__content p {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  line-height: 1.4375rem;
  margin-bottom: 1.5rem;
}

/* price */
.price {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1875rem;
  margin-bottom: 1.25rem;
}

.price .original-price {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

.price .product__original-price {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  text-decoration-line: strikethrough;
  margin: 0;
}

/* button */
.button {
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  gap: 0.73rem;
  cursor: pointer;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  text-decoration: none;
  /* height: 3rem; */
  padding: 1rem;
  border: 0;
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  width: 15px;
  height: 16px;
  background-image: url("./images/icon-cart.svg");
}

.button:is(:hover, :focus) {
  background-color: var(--clr-primary-500);
}
